body{
    background-color: cyan;
}

@media only screen and (max-width: 1021px) {
    body {
        background-color: lightblue;
    }
}

@media only screen and (max-width: 1200px) {
    body {
        background-color: rgb(214, 99, 128);
    }
}

@media only screen and (max-width: 1024px) {
    body {
        background-color: rgb(217, 220, 130);
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-color: rgb(207, 27, 231);
    }
}

@media only screen and (max-width: 480px) {
    body {
        background-color: rgb(10, 197, 10);
    }
}
img {
    width: 100%;
    height: auto;
}